.menu-promo {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    border: none;
    background: $lighter_gray;
    @include media-breakpoint-up(md) {
        display: flex;
    }
    @include media-breakpoint-up(md) {
        max-width: 50vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
        border: $light_border;
        border-radius: 0 $radius_m $radius_m 0;
        background: #fff;
    }
    .slider {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include media-breakpoint-up(md) {
            width: 98%;
        }
        .swiper-slide {
            flex-direction: column;
            @include media-breakpoint-up(md) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .item {
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            text-align: center;
            @include media-breakpoint-up(md) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }   
        }
        .label {
            display: flex;
            justify-content: center;
            margin: 0;
            @include media-breakpoint-up(md) {
                display: none !important;
            }  
            @include media-breakpoint-up(xl) {
                color: #a7a7a7;
                margin-left: 20px;
                display: flex !important;
                align-items: center;
            }
        }
        .timer {
            .caption {
                display: none;
            }
            .number {
                padding: 2px 2px 0 2px;
                color: #000;
            }
            .nb {
                &:not(:last-child):after {
                    content: ':';
                    position: absolute;
                    top: -2px;
                    right: -7px;
                }
            }
        }
    }
    .arrows {
        position: relative !important;
        overflow: visible;
        @include media-breakpoint-up(md) {
            right: 40px !important; 
            position: absolute !important;
        }   
        .arrow-prev, .arrow-next {
            position: absolute;
            top: -42px;
            @include media-breakpoint-up(md) {
                top: -15px;
                padding: 0 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-size: 16px;
                }
            }   
        }
        .arrow-prev {
            left: -5px;
            @include media-breakpoint-up(md) {
                right: 0px;
            }
        }
        .arrow-next {
            right: 5px;
            @include media-breakpoint-up(md) {
                left: 20px;
            }
        }
    }
    
    .header-slider {
        width: 100%;
        background: $light_gray;
        padding: 5px 0;
    }
}