.path-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
    a {
        font-size: 14px;
        &:last-child {
            color: $mid_gray;
        }
    }
    i {
        color: $mid_gray;
    }
}