.mobile-menu {
    display: flex;
    position: fixed;
    margin-bottom: 0;
    width: 100vw;
    z-index: 500;
    bottom: 0;
    -webkit-transform: translateZ(1px);
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-shadow: 0 -8px 7px rgba(182, 182, 182, 0.3);
    background: #fff;
    border-radius: $radius_m $radius_m 0 0;
    border: $light_border;
    @include media-breakpoint-up(md) {
        display: none;
    }
    .item {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
        color: #000;
        list-style-type: none;
        padding: 10px;
        &:not(:last-child) {
            border-right: $light_border;
        }
    }
    i {
        font-size: 26px;
    }
    .current {
        background: $light_gray;
    }
}

.meny-konesso {
    .mobile-menu {
        display: none;
    }
}